.footer{
  background-color:gold;
  justify-content: space-around;
  width: 100vw;
  height: 15%;
  align-items: center;
  display: flex;
}

.footer > div {
  width: 40%;
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
}