.footer{
  background-color:gray;
  justify-content: space-around;
  width: 100vw;
  height: 10vh;
  align-items: center;
  display: flex;
}

.footer > div {
  width: 40%;
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
}