.header {
  background-color: cornsilk;
  height: 15%;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 142px;
}
.icon {
  font-size: 3rem;
}
.subIcon {
  color: Mediumslateblue;
}