.main{
  display: flex;
  justify-content: space-between;
  border-width: 3px;
  height: 80vh;
  border-style: solid;
  border-color: black;
}

.main > section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-list {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main > nav {
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.nav-ul{
  padding: 0;
}

.nav-ul li{
  list-style: none;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 1rem;
  text-align: center;
}

.first {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}
.form input {
  margin: 0 10px;
  width: 60%;
}

.form select {
  width: 60%;
  margin: 0 10px;
}

.form label {
  display: flex;
  justify-content: space-between;
}

.table-icons {
  margin: 0 20%;
}